<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/static/css/vendor.8453b2b8.css">
<link rel="stylesheet" href="/static/css/main.750472f2.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/menulib.js"></script>
<script src="/static/js/portal_login.js" language="javascript"></script>
<title>Portal</title>
</head>
<body id="main_body" onload="setFocus()">
	<div id="debug_panel"></div>
	<section class="home">
		<div class="plane"><p><img alt="Media on the move" src="/static/img/picto_plane.ec613afe.png"></p></div>
	</section>
	<div id="main_panel" style="display: none;"></div>
	<textarea id="tnc_container" class="tnc" rows=10 readonly style="display: none;"></textarea>
<script>
var page_param = JSON.parse('{{ page_param_json|safe }}');
init_demo_page(page_param);
</script>
</body>
</html>
