@charset "UTF-8";
img, section.checkout form p input:focus {
    outline: 0
}
@font-face {
    font-family: noto_bold;
    src: url(fonts/notosans/notosans-bold-webfont.eot);
    src: url(fonts/notosans/notosans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/notosans/notosans-bold-webfont.woff2) format("woff2"), url(fonts/notosans/notosans-bold-webfont.woff) format("woff"), url(fonts/notosans/notosans-bold-webfont.ttf) format("truetype"), url(fonts/notosans/notosans-bold-webfont.svg#noto_sansbold) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: noto_bold_italic;
    src: url(fonts/notosans/notosans-bolditalic-webfont.eot);
    src: url(fonts/notosans/notosans-bolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/notosans/notosans-bolditalic-webfont.woff2) format("woff2"), url(fonts/notosans/notosans-bolditalic-webfont.woff) format("woff"), url(fonts/notosans/notosans-bolditalic-webfont.ttf) format("truetype"), url(fonts/notosans/notosans-bolditalic-webfont.svg#noto_sansbold_italic) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: noto_italic;
    src: url(fonts/notosans/notosans-italic-webfont.eot);
    src: url(fonts/notosans/notosans-italic-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/notosans/notosans-italic-webfont.woff2) format("woff2"), url(fonts/notosans/notosans-italic-webfont.woff) format("woff"), url(fonts/notosans/notosans-italic-webfont.ttf) format("truetype"), url(fonts/notosans/notosans-italic-webfont.svg#noto_sansitalic) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: noto_regular;
    src: url(fonts/notosans/notosans-regular-webfont.eot);
    src: url(fonts/notosans/notosans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/notosans/notosans-regular-webfont.woff2) format("woff2"), url(fonts/notosans/notosans-regular-webfont.woff) format("woff"), url(fonts/notosans/notosans-regular-webfont.ttf) format("truetype"), url(fonts/notosans/notosans-regular-webfont.svg#noto_sansregular) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: robotobold;
    src: url(fonts/roboto/roboto-bold-webfont.eot);
    src: url(fonts/roboto/roboto-bold-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/roboto/roboto-bold-webfont.woff2) format("woff2"), url(fonts/roboto/roboto-bold-webfont.woff) format("woff"), url(fonts/roboto/roboto-bold-webfont.ttf) format("truetype"), url(fonts/roboto/roboto-bold-webfont.svg#robotobold) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: robotolight;
    src: url(fonts/roboto/roboto-light-webfont.eot);
    src: url(fonts/roboto/roboto-light-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/roboto/roboto-light-webfont.woff2) format("woff2"), url(fonts/roboto/roboto-light-webfont.woff) format("woff"), url(fonts/roboto/roboto-light-webfont.ttf) format("truetype"), url(fonts/roboto/roboto-light-webfont.svg#robotolight) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: robotomedium;
    src: url(fonts/roboto/roboto-medium-webfont.eot);
    src: url(fonts/roboto/roboto-medium-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/roboto/roboto-medium-webfont.woff2) format("woff2"), url(fonts/roboto/roboto-medium-webfont.woff) format("woff"), url(fonts/roboto/roboto-medium-webfont.ttf) format("truetype"), url(fonts/roboto/roboto-medium-webfont.svg#robotomedium) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: robotoregular;
    src: url(fonts/roboto/roboto-regular-webfont.eot);
    src: url(fonts/roboto/roboto-regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/roboto/roboto-regular-webfont.woff2) format("woff2"), url(fonts/roboto/roboto-regular-webfont.woff) format("woff"), url(fonts/roboto/roboto-regular-webfont.ttf) format("truetype"), url(fonts/roboto/roboto-regular-webfont.svg#robotoregular) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: adaptive;
    src: url(fonts/adaptive/adaptive.eot?e8ak2l);
    src: url(fonts/adaptive/adaptive.eot?e8ak2l#iefix) format("embedded-opentype"), url(fonts/adaptive/adaptive.ttf?e8ak2l) format("truetype"), url(fonts/adaptive/adaptive.woff?e8ak2l) format("woff"), url(fonts/adaptive/adaptive.svg?e8ak2l#adaptive) format("svg");
    font-weight: 400;
    font-style: normal
}
.icon {
    font-family: adaptive!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-back:before {
    content: "\e900"
}
.icon-burger:before {
    content: "\e901"
}
.icon-catalogue:before {
    content: "\e902"
}
.icon-close:before {
    content: "\e903"
}
.icon-duty_free:before {
    content: "\e904"
}
.icon-empreinte:before {
    content: "\e905"
}
.icon-game:before {
    content: "\e906"
}
.icon-info:before {
    content: "\e907"
}
.icon-presse:before {
    content: "\e908"
}
.icon-tri_asc:before {
    content: "\e909"
}
.icon-tri_desc:before {
    content: "\e90a"
}
.icon-video:before {
    content: "\e90b"
}
.icon-wheel:before {
    content: "\e90c"
}
header {
    color: #757575
}
header a.logo {
    display: block;
    width: 50%;
    height: 44px;
    background: url(../images/compagnie/logo_swiss.96df9d41.png) 6% 8px no-repeat #FFF
}
header .selectLanguage {
    position: relative;
    font-family: robotomedium;
    color: #6f6661;
    float: right;
    padding: 15px 2% 0 0;
    text-transform: uppercase
}
header .selectLanguage p {
    padding-right: 10px;
    background: url(../images/picto_open.b1e571d0.png) right center no-repeat;
    cursor: pointer
}
header .selectLanguage ul {
    position: absolute;
    z-index: 100;
    left: -10px;
    top: 30px;
    width: auto;
    text-align: left;
    padding: 10px 0;
    background: #FFF
}
header .selectLanguage ul.ng-hide-add {
    -webkit-animation: .8s fadeOutUp;
    animation: .8s fadeOutUp
}
header .selectLanguage ul.ng-hide-remove {
    -webkit-animation: .8s fadeInDown;
    animation: .8s fadeInDown
}
header .selectLanguage ul li {
    cursor: pointer;
    display: block;
    padding: 3px 10px
}
header nav {
    background-color: #f5f4f2;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 10px 10px -6px #bebdbb
}
header nav ul li {
    display: block;
    float: left;
    width: 25%;
    border-left: 1px solid #ccc;
    text-align: center;
    font-size: 1.2em;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative
}
header nav ul li:first-child {
    border: none
}
header nav ul li::after {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-top: 4px solid #e60005;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    width: 0;
    position: absolute;
    z-index: 10
}
header nav ul li a {
    text-decoration: none;
    display: block;
    padding: 0 0 16px;
    line-height: 0;
    color: #333
}
header nav ul li a span {
    display: block;
    font-size: 2.8em
}
header nav ul li.actif {
    background: #6f6661
}
header nav ul li.actif::after {
    width: 100%
}
header nav ul li.actif a {
    color: #FFF
}
footer {
    width: 100%;
    padding: 1% 2%;
    text-align: center;
    font-family: robotolight;
    font-size: 1.2em;
    color: #757575;
    background-color: #f5f4f2;
    border-top: 1px solid #6f6661
}
footer ul {
    padding-bottom: 15px
}
footer li {
    display: inline-block;
    font-family: robotomedium;
    color: #6f6661;
    padding: 0 1%
}
footer li p {
    font-size: 1em
}
footer a {
    color: #6f6661;
    text-decoration: none
}
footer p {
    font-size: .8em
}
section.home {
    text-align: center
}
section.home .plane {
    background: #e60005;
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
    font-size: 1.4em
}
section.home .plane p {
    text-transform: uppercase;
    font-family: robotobold;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
section.home .plane p img {
    margin-bottom: 15px;
/*    -webkit-animation: loader 5s ease;
    animation: loader 5s ease */
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    100% {
        -webkit-transform: rotateZ(1080deg);
        transform: rotateZ(1080deg)
    }
}
section.home .plane.ng-hide-add {
    -webkit-animation: .8s fadeOut;
    animation: .8s fadeOut
}
section.home .infos {
    position: relative
}
section.home .infos.ng-hide-remove {
    -webkit-animation: 1.8s fadeIn;
    animation: 1.8s fadeIn
}
section.home .infos img {
    display: block;
    width: 100%
}
section.home .infos h1 {
    position: fixed;
    width: 100%;
    top: 40%;
    background: rgba(0, 0, 0, .6);
    padding: 3%;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: robotolight
}
section.home .infos a {
    padding: 8px 0;
    display: block;
    position: fixed;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 70%;
    font-size: 1.2em;
    font-family: robotobold;
    background: #e60005
}
section.home .reminder .swiper-container {
    padding-top: 2%;
    position: relative
}
section.home .reminder .swiper-slide {
    font-size: 1.4em;
    color: #666
}
@media only screen and (min-width:0px) and (max-width:768px) {
    section.home .reminder .swiper-slide {
        font-size: 1.1em
    }
}
section.home .reminder .swiper-slide div {
    background-color: #FFF;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding: 2%
}
section.home .reminder .swiper-slide div h3 {
    font-family: robotolight;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #333
}
section.home .reminder .swiper-slide div h3 span {
    font-family: robotobold
}
section.home .reminder .swiper-slide div .illustration {
    margin: 20px 0
}
section.home .reminder .swiper-slide div p.store {
    margin: 15px 0
}
section.home .reminder .swiper-slide div p.store a {
    display: inline-block;
    margin: 0 3px
}
section.home .reminder .swiper-slide div a.next {
    width: 60%;
    max-width: 600px
}
section.home .reminder .swiper-slide div ul {
    font-size: .8em;
    padding: 2% 0
}
section.home .reminder .swiper-slide div ul li {
    display: inline-block;
    padding: 10px 2%
}
section.home .reminder .swiper-slide div ul li:first-child {
    border-right: 1px solid #666
}
section.home span.next, section.home span.prev {
    position: absolute;
    z-index: 300;
    left: 1%;
    top: 0;
    width: 3%;
    height: 100%;
    background-image: url(../images/prev.d7cea2cb.png);
    background-repeat: no-repeat;
    background-position: center 55%;
    background-size: 100% auto;
    cursor: pointer
}
@media only screen and (min-width:0px) and (max-width:768px) {
    section.home span.next, section.home span.prev {
        width: 5%
    }
}
section.home span.next {
    left: inherit;
    right: 2%;
    background-image: url(../images/next.d248c179.png)
}
section.home .no-visible {
    display: none
}
section.home .pager {
    padding: 20px 20px 40px
}
section.home .pager .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    color: #FFF;
    border-radius: 100%;
    background: #6f6661;
    opacity: 1;
    font-size: 1.4em;
    margin: 0 10px
}
section.home .pager .swiper-pagination-bullet-active {
    background: #e60005
}
section.catalogue .cat h1 {
    background: #6f6661;
    padding: 12px 2%;
    font-family: robotomedium;
    color: #FFF;
    font-size: 1.4em
}
section.catalogue .cat h1 span {
    color: #FFF;
    font-size: 4em;
    display: block;
    float: left;
    line-height: .35em
}
section.catalogue .cat h1 a {
    color: #FFF;
    text-decoration: none;
    float: right;
    font-family: robotoregular;
    font-size: .9em
}
@media only screen and (min-width:0px) and (max-width:768px) {
    section.catalogue .cat h1 {
        font-size: 1.1em
    }
    section.catalogue .cat h1 a {
        font-size: .8em;
        line-height: 2.4em
    }
}
section.catalogue .swiper-container .swiper-wrapper {
    padding: 2% 0
}
section.catalogue .items {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}
section.catalogue .item {
    border-radius: 5px;
    background-color: #FFF;
    font-size: .9em;
    color: #757575;
    box-shadow: 1px 1px 6px 1px #b2b2b2;
    width: 90%;
    margin: 0 auto
}
section.catalogue .item figure {
    width: 100%;
    position: relative;
    overflow: hidden
}
section.catalogue .item figure:before {
    content: "";
    display: block;
    padding-top: 120%
}
section.catalogue .item figure img {
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: absolute
}
section.catalogue .item h2 {
    color: #000;
    font-size: 1.2em
}
section.catalogue .item div {
    padding: 4%
}
section.catalogue .item div .type {
    float: right;
    text-align: center
}
section.catalogue .item div .type>* {
    display: block;
    margin: 0 auto
}
section.catalogue .item div .type .picto {
    padding: 7px 9px;
    margin-bottom: 10px
}
section.catalogue .item div .type .picto img {
    width: 12px;
    height: auto
}
section.catalogue .video .item figure:before {
    padding-top: 56%
}
section.catalogue .pager {
    padding: 20px 0;
    text-align: center
}
section.catalogue .pager span {
    display: inline-block;
    margin: 0 3px;
    background-color: #6f6661;
    width: 10px;
    height: 10px
}
section.catalogue.list .sscat {
    background: #6f6661;
    text-align: center
}
section.catalogue.list .sscat li {
    display: block;
    width: 25%;
    float: left;
    padding: 8px 0;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
section.catalogue.list .sscat li span {
    display: block;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 1px solid #FFF;
    padding: 2px 0
}
section.catalogue.list .sscat li.actif span, section.catalogue.list .sscat li:first-child span {
    border: none
}
section.catalogue.list .sscat li.actif {
    background: #e60005
}
section.catalogue.list .item {
    width: 14.66%;
    margin: 1%;
    float: left
}
@media only screen and (min-width:521px) and (max-width:1023px) {
    section.catalogue.list .item {
        width: 29.33%;
        margin: 2%
    }
}
@media only screen and (min-width:0px) and (max-width:520px) {
    section.catalogue.list .item {
        width: 46%;
        margin: 2%
    }
}
section.catalogue.list .item.ng-enter-stagger, section.catalogue.list .item.ng-leave-stagger {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
    -webkit-transition-duration: 0;
    transition-duration: 0
}
section.catalogue.list .item.ng-enter, section.catalogue.list .item.ng-leave {
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s
}
section.catalogue.list .item.ng-enter, section.catalogue.list .item.ng-leave-active {
    width: 0;
    opacity: 0
}
section.catalogue.list .item.ng-enter-active {
    width: 14.66%;
    opacity: 1
}
section.catalogue .back {
    text-decoration: none;
    color: #000;
    font-size: 3.6em;
    padding: 2% 2.5% 0
}
section.catalogue .back.video {
    position: absolute;
    z-index: 100;
    top: 0
}
section.catalogue .trailer {
    width: 100%;
    position: relative
}
section.catalogue .trailer figure {
    position: relative;
    overflow: hidden
}
section.catalogue .trailer figure::before {
    content: "";
    display: block;
    padding-top: 36%
}
section.catalogue .trailer img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 1
}
section.catalogue .trailer img.showTime {
    opacity: .2
}
section.catalogue .trailer span {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/bt_play.df9dcea8.png) center center no-repeat;
    cursor: pointer
}
section.catalogue .trailer video {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: 85%;
    box-shadow: 1px 1px 10px 0 #000;
    opacity: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}
section.catalogue .trailer video.showTime {
    opacity: 1
}
section.catalogue article figure {
    float: left;
    margin: 0 15px 10px 0
}
section.catalogue article h1 {
    font-size: 2em
}
@media only screen and (min-width:0px) and (max-width:768px) {
    section.catalogue .trailer figure::before {
        padding-top: 40%
    }
    section.catalogue .trailer span {
        background-size: 10% auto
    }
    section.catalogue article h1 {
        font-size: 1.3em
    }
}
section.catalogue article .resume {
    margin-top: 2%;
    border-top: 1px solid #333;
    padding: 2%
}
section.catalogue article.only {
    padding: 3%
}
section.catalogue article.only figure {
    max-width: 30%;
    padding-bottom: 20px;
    position: relative;
    z-index: 20
}
section.catalogue article.only figure img {
    display: block;
    width: 100%;
    height: auto
}
section.catalogue article.only .bt {
    margin: 25px 0
}
section.catalogue aside h1 {
    padding: 1% 2%;
    font-family: robotomedium;
    color: #FFF;
    font-size: 1.4em;
    background-color: #6f6661
}
section.catalogue aside h1 a {
    color: #FFF;
    text-decoration: none;
    float: right;
    font-family: robotoregular;
    font-size: .9em
}
section.catalogue aside .item {
    width: 14.66%;
    margin: 1%;
    float: left
}
@media only screen and (min-width:0px) and (max-width:1023px) {
    section.catalogue aside .item {
        width: 29.33%;
        margin: 2%
    }
}
section.checkout {
    text-align: center;
    padding: 2%
}
section.checkout h1 {
    font-family: robotolight;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.1em;
    color: #333;
    margin-bottom: 15px
}
section.checkout form p.submit input, section.checkout h1 span {
    font-family: robotobold
}
section.checkout form {
    width: 70%;
    margin: 2% auto;
    text-align: left
}
section.checkout form p {
    margin: 15px 0;
    position: relative
}
section.checkout form p.half input {
    width: 49%;
    margin: 0 0 0 1%
}
section.checkout form p.half input:first-child {
    margin: 0 .5% 0 0
}
@media only screen and (min-width:0px) and (max-width:1023px) {
    section.checkout form p.half input:first-child {
        margin: 0 0 15px
    }
    section.checkout form p.half input {
        width: 100%;
        margin: 0
    }
}
section.checkout form p span.icon {
    position: absolute;
    right: 0;
    top: 54%;
    font-size: 5em;
    line-height: 0;
    cursor: pointer
}
section.checkout form p.checkbox input {
    width: 16px;
    height: 16px;
    margin: 0 10px;
    float: left
}
section.checkout form p.submit {
    margin: 40px 0 20px;
    text-align: center
}
section.checkout form p.submit input {
    width: auto;
    border-radius: 20px;
    border: 1px solid #333;
    background: 0 0;
    padding: 5px 40px;
    cursor: pointer;
    text-transform: uppercase
}
section.checkout form p input {
    background: #f5f4f2;
    padding: 1.5% 2%;
    width: 100%;
    color: #333
}
section.checkout form p input::-webkit-input-placeholder {
    color: #333
}
section.checkout form p input::-moz-placeholder {
    color: #333
}
section.checkout form p input:-ms-input-placeholder {
    color: #333
}
section.checkout form p input::placeholder {
    color: #333
}
section.checkout form p input:disabled {
    color: #bebdbb;
    border-color: #bebdbb
}
section.checkout form p span.error {
    display: inline-block;
    padding: 3px 2%;
    color: #e60005;
    font-size: 1em
}
section.checkout .layer .bt {
    width: 30%
}
section.player .back {
    position: absolute;
    z-index: 200
}
section.player video {
    width: 100%;
    height: auto;
    display: block
}
section.quizz {
    text-align: center;
    padding: 3%;
    font-family: robotoregular;
    border-bottom: 6px solid #e60005;
    position: relative
}
section.quizz h1 {
    font-family: robotolight;
    text-transform: uppercase;
    line-height: 1.1em
}
section.quizz h1 span {
    display: block;
    font-family: robotobold
}
section.quizz .logo {
    margin: 3% 0
}
section.quizz p {
    color: #6f6661;
    font-size: 1.35em;
    position: relative
}
section.quizz p span {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #f5f4f2;
    font-family: robotobold;
    font-size: 5em
}
section.quizz .bt {
    margin-top: 3%
}
section.quizz .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e60005
}
section.quizz .loader p {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%
}
section.quizz .loader p img {
    -webkit-animation: loader 5s ease;
    animation: loader 5s ease
}
@keyframes loader {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    100% {
        -webkit-transform: rotateZ(1080deg);
        transform: rotateZ(1080deg)
    }
}
section.quizz .loader.ng-hide-add {
    -webkit-animation: .8s fadeOut;
    animation: .8s fadeOut
}
section.quizz .chrono {
    background-color: #f5f4f2;
    padding: 1% 3%;
    text-align: right
}
.bt, .layer .warning p.store {
    text-align: center
}
section.quizz .chrono span {
    display: inline-block;
    background: url(../images/picto_chrono.57a07a36.png) left center no-repeat;
    padding-left: 20px
}
section.quizz figure {
    width: 100%;
    margin-bottom: 25px
}
section.quizz figure img {
    display: block;
    width: 100%;
    height: auto
}
section.quizz.detail {
    padding: 0
}
section.quizz.detail p {
    padding: 2%
}
@media only screen and (min-width:0px) and (max-width:520px) {
    section.quizz p span {
        font-size: 4em
    }
    section.quizz.detail p {
        padding: 4% 2%
    }
}
section.quizz.detail ul {
    margin: 1% 0
}
section.quizz.detail ul li {
    float: left;
    width: 32.6633%;
    margin-left: 1%;
    background: #f5f4f2;
    position: relative
}
section.quizz.detail ul li:first-child {
    margin: 0
}
section.quizz.detail ul li a {
    display: block;
    padding: 20% 0;
    font-family: robotobold;
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
    z-index: 2;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer
}
section.quizz.detail ul li a span {
    position: absolute;
    bottom: 0;
    left: 2%;
    color: #FFF;
    font-size: 5em;
    line-height: 1em;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
@media only screen and (min-width:0px) and (max-width:520px) {
    section.quizz.detail ul li a span {
        font-size: 3em
    }
}
section.quizz.detail ul li a::after {
    position: absolute;
    background: #31d744;
    background: -webkit-linear-gradient(90deg, #31d744 0, #23d79e 100%);
    background: linear-gradient(0deg, #31d744 0, #23d79e 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    content: "";
    z-index: -1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
section.quizz.detail ul li a.actif {
    color: #FFF
}
section.quizz.detail ul li a.actif span {
    color: #97eba9
}
section.quizz.detail ul li a.actif::after {
    width: 100%
}
section.quizz.detail ul li a.error span {
    color: #f8b9a4
}
.bt, .free, .no-touch header nav ul li:hover a, section.quizz.resultat .error p, section.quizz.resultat .success p {
    color: #FFF
}
section.quizz.detail ul li a.error::after {
    background: #fb8433;
    background: -webkit-linear-gradient(90deg, #fb8433 0, #fb283f 100%);
    background: linear-gradient(0deg, #fb8433 0, #fb283f 100%);
    width: 100%
}
section.quizz.resultat {
    padding: 0;
    color: #FFF
}
section.quizz.resultat .error, section.quizz.resultat .success {
    padding: 3%;
    background: #31d744;
    background: -webkit-linear-gradient(90deg, #31d744 0, #23d79e 100%);
    background: linear-gradient(0deg, #31d744 0, #23d79e 100%)
}
section.quizz.resultat .error h1 span, section.quizz.resultat .success h1 span {
    text-transform: none
}
section.quizz.resultat .error h2, section.quizz.resultat .success h2 {
    margin-bottom: 1%
}
section.quizz.resultat .error h2 span, section.quizz.resultat .success h2 span {
    display: block;
    font-family: robotobold;
    font-size: 2.4em
}
section.quizz.resultat .error .champagne, section.quizz.resultat .success .champagne {
    position: relative;
    overflow: hidden;
    padding: 1%
}
section.quizz.resultat .error .champagne span, section.quizz.resultat .success .champagne span {
    position: absolute;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: block;
    opacity: 1;
    -webkit-animation: bulle 3s linear infinite;
    animation: bulle 3s linear infinite
}
body, section {
    position: relative
}
section.quizz.resultat .error .champagne span.big, section.quizz.resultat .success .champagne span.big {
    width: 10px;
    height: 10px;
    left: 25%;
    -webkit-animation-duration: 4s;
    animation-duration: 4s
}
section.quizz.resultat .error .champagne span.medium, section.quizz.resultat .success .champagne span.medium {
    width: 7px;
    height: 7px;
    left: 20%
}
section.quizz.resultat .error .champagne span.small, section.quizz.resultat .success .champagne span.small {
    width: 4px;
    height: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s
}
body, html {
    height: 100%
}
@-webkit-keyframes bulle {
    0%, 85% {
        opacity: 1
    }
    100% {
        bottom: 100%;
        opacity: 0
    }
}
@keyframes bulle {
    0%, 85% {
        opacity: 1
    }
    100% {
        bottom: 100%;
        opacity: 0
    }
}
.back [ui-view].ng-enter .sscat button, .back [ui-view].ng-leave .sscat button, .fadeEffect [ui-view].ng-enter-active, .fadeEffect [ui-view].ng-leave, .layer.ng-hide-add .warning, .layer.ng-hide-remove .warning, .slideEffect [ui-view].ng-enter .sscat button, .slideEffect [ui-view].ng-enter footer, .slideEffect [ui-view].ng-leave .sscat button, .slideEffect [ui-view].ng-leave footer {
    opacity: 0
}
section.quizz.resultat .error .visuel, section.quizz.resultat .success .visuel {
    margin: 4% 0
}
section.quizz.resultat .error .bt, section.quizz.resultat .success .bt {
    width: 50%;
    background: 0 0;
    border: 1px solid #FFF;
    font-family: robotobold;
    font-size: 1.2em
}
.bt, .no-touch header nav ul li:hover::after {
    width: 100%
}
*, .no-touch section.catalogue.list .sscat li:hover span, img {
    border: none
}
section.quizz.resultat .error {
    background: #fb8433;
    background: -webkit-linear-gradient(90deg, #fb8433 0, #fb283f 100%);
    background: linear-gradient(0deg, #fb8433 0, #fb283f 100%)
}
.no-touch header nav ul li:hover {
    background: #6f6661
}
.no-touch section.catalogue.list .sscat li:hover {
    background: #e60005
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font: 400 62.5%/1em Arial, Helvetica, sans-serif;
    line-height: normal;
    font-family: robotoregular;
    background: #FFF;
    overflow-x: hidden
}
.layer .warning, body>* {
    font-size: 1.2em
}
body.catalogue_detail {
    background: #f2f2f2
}
.bt, .free, .picto {
    display: block;
    background: #e60005
}
.img_left {
    float: left;
    margin: 0 10px 10px 0
}
.img_right {
    float: right;
    margin: 0 0 10px 10px
}
h1, h2, h3, h4, h5 {
    font-weight: 400
}
ul li {
    list-style-type: none
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.clearfix, html[xmlns] .clearfix {
    display: block
}
* html .clearfix {
    height: 1%
}
section {
    overflow: hidden
}
.bt {
    text-transform: uppercase;
    border-radius: 15px;
    padding: 6px;
    margin: 25px auto 0;
    text-decoration: none;
    clear: both;
    font-family: robotomedium;
    cursor: pointer
}
.free, .picto {
    float: right;
    border-radius: 50%;
    padding: 9px 11px
}
.free {
    border-radius: 5px;
    padding: 2px 5px;
    font-family: robotobold
}
.layer .warning h3, .layer .warning p span {
    font-family: robotomedium
}
.layer {
    position: fixed;
    z-index: 800;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(77, 77, 77, .92)
}
.layer .warning {
    background: #FFF;
    padding: 3%;
    border-radius: 5px;
    color: #666;
    position: absolute;
    top: 50%;
    left: 4%;
    width: 93%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}
.layer .warning .icon-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3em;
    cursor: pointer
}
.layer .warning p {
    padding: 5px 0
}
.layer .warning p span {
    text-decoration: underline
}
.layer .warning h3 {
    color: #4d4d4d;
    padding-bottom: 15px
}
.layer.ng-hide-add {
    -webkit-animation: .8s slideOutUp;
    animation: .8s slideOutUp
}
.layer.ng-hide-remove {
    -webkit-animation: .8s slideInDown;
    animation: .8s slideInDown
}
#page {
    position: relative
}
[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.slideEffect [ui-view].ng-enter, .slideEffect [ui-view].ng-leave {
    -webkit-transition: -webkit-transform .8s ease;
    transition: transform .8s ease
}
.slideEffect [ui-view].ng-enter {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}
.slideEffect [ui-view].ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slideEffect [ui-view].ng-enter-active .sscat button, .slideEffect [ui-view].ng-enter-active footer {
    -webkit-animation: 1.8s fadeIn .5s;
    animation: 1.8s fadeIn .5s
}
.slideEffect [ui-view].ng-leave {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slideEffect [ui-view].ng-leave-active {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}
.slideEffect [ui-view].ng-leave-active .sscat button, .slideEffect [ui-view].ng-leave-active footer {
    -webkit-animation: .8s fadeOut;
    animation: .8s fadeOut
}
.fadeEffect [ui-view].ng-enter {
    -webkit-animation: 1s fadeIn;
    animation: 1s fadeIn
}
.fadeEffect [ui-view].ng-leave-active {
    -webkit-animation: 1s fadeOut;
    animation: 1s fadeOut
}
.back [ui-view].ng-enter {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}
.back [ui-view].ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.back [ui-view].ng-enter-active .sscat button {
    -webkit-animation: 2.6s fadeIn .5s;
    animation: 2.6s fadeIn .5s
}
.back [ui-view].ng-leave {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.back [ui-view].ng-leave-active {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}
.back [ui-view].ng-leave-active .sscat button {
    -webkit-animation: .8s fadeOut;
    animation: .8s fadeOut
}
