html {
	background: url(../img/default_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
}
body {
	font-size: 16px;
}
.abs_center {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}
.abs_center {
	width: 100%;
}
.abs_notop_center {
	left: 0;
	position: inherit;
	top: 0;
	transform: translate(0, 0);
	-ms-transform: translate(0, 0); /* IE 9 */
	-webkit-transform: translate(0, 0); /* Chrome, Safari, Opera */
}
#top_row {
	height:89px;
}
#box {
	float:left;
	height:240px;
	width:265px;
	border:4px solid #CCCCCC;
	padding:10px;
}
#title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:700;
	font-size:16px;
}
a {
	text-decoration:none;
	color:#000000;
}
a:hover {
	text-decoration:underline;
}
.warntext
{
	color: #ff0000;
	font-weight: bold;
}
.message {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	white-space: pre-wrap;
	text-align: center;
	color: #555555;
}
.login_message0, .login_message, .message_panel {
	font-size: 18px;
}
.login_message {
	margin-bottom: 10px;
}
.login_message0 {
	margin: 10px 0;
}

.login_width, .success_panel_width, .fail_panel_width {
	max-width: 600px;
}
#full_tnc {
/*	padding: 0 0 10px;*/
}
.tnc_width {
	max-width: 800px;
}
.status-msg {
	text-align: center;
	color: #555555;
}
div.fail_message, div.tnc_warn {
	font-weight: bold;
    	padding: 5px 15px;
}
div.fail_message {
	text-align: center;
	margin-bottom: 10px;
}
div.tnc_warn {
	margin-top: 10px;
	margin-bottom: 10px;
}
div.login_panel {
	margin: 20px auto 0;
}
div.login_panel {
	width: 75%;
}
div.success_info_panel {
	margin: 0 auto 0;
}
div.success_info_panel {
	width: 80%;
}

#term_panel {
	margin: 25px auto 15px !important;
	width: 95%;
}
.quota_fail {
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	margin-bottom: 10px;
}
.browse_button_panel {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.login_button_panel {
	margin-bottom: 10px;
}
.open_login_button_panel {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}
.back_button_panel {
	margin-top: 10px;
}
textarea {
	font-size:12px;
	resize: none;
}
#main_container {
	margin: 0 auto !important;
}
div.logo-panel {
	text-align: center;
}
div.logo-panel {
	width: 100%;
}

div.logo-panel1 {
	text-align: center;
	margin-top: 70px;
}
div.logo-panel1 {
	width: 100%;
}
img.logo {
	margin-top: 20px;
	max-width: 55%;
}
div.login-content-container, div.success-content-container {
	margin: 0 auto;
	opacity: 0.8;
}
div.content_container {
	margin: 0 auto;
	padding: 5px 0;
	opacity: 0.8;
}
body.small #container {

}
div.common_inner {
	padding: 0 0 10px;
}
div.login_inner {
	padding: 0 0 10px;
}
.message_panel {
	text-align: center;
	font-weight: bold;
	margin: 20px auto 0;
	width: 80%;
}
.message_container {
/*	padding-top: 20px;*/
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	border: 1px solid #A2A2A2;
	border-radius: 5px 5px 5px 5px;
}
input {
	font-size: 16px !important;
}
input.top-margin {
	margin-top: 16px;
}
i.icon-field{
	float: left;
	padding: 3px 10px 0;
}
div.title_bg, div.footer_bg {
}
div.title_bg {
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px ;
	border-radius: 8px 8px 0 0;
}
div.footer_bg {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px ;
	border-radius: 0 0 8px 8px;
}
div.title_panel {
	padding: 2px 0;
}
.color_title_text {
/*	color: #C3C3C3;*/
	font-weight: bold;
	text-align: center;
	min-height: 14px;
}
div.input-panel {
    	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}
div.input-panel {
	padding: 10px 0;
}
span.input-field {
	display: block;
	overflow: hidden;
}
input.enter-parm {
	border-width: 0;
	width: 100%;
	background: none repeat scroll 0 0 transparent;
}
.input_group {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login_title, .welcome_title, .welcome_descr, .success_msg {
}
.success_msg {
	text-align: center;
}
.welcome_title, .welcome_descr {
	line-height: 24px;
}
.login_title {	
	margin-bottom: 5px;
}
.welcome_title {
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.welcome_descr {
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}
.submit_button0 {
	height: 36px;
	width:100%;
	min-width: 200px;
	-moz-border-radius: 5px;
	webkit-border-radius: 5px;
	border-radius: 5px;
	border-width: 0;
	cursor: pointer;
	background-color: #198eff;
	color: #fff;
	font-weight: bold;
	-webkit-appearance: none;
}
.submit_button {
	cursor: pointer;	
	padding: 6px 14px;
	position: relative;
	vertical-align: top;
	font-weight: bold;
}
.submit_button:hover {
	background-color: #3071A9;
	border-color: #285E8E;
	color: #FFFFFF;
}
.back_button {
	border-color: #4A831C;
	cursor: pointer;	
	padding: 6px 14px;
	position: relative;
	vertical-align: top;
	font-weight: bold;
}
.back_button:hover {
	background-color: #4A831C;
	color: #FFFFFF;
}
.marginTop {
	margin-top: 12px;
}
.company_display {
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: right;
}
table.main_table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
table.main_table td {
	text-align: center;
}
textarea.tnc_template {
	width: 100%;
}

.tnc_agree_panel {
	margin-bottom: 10px;
}
textarea.tnc {
	width: 100%;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #ddd;
}

textarea.tnc:focus {
    	box-shadow: 0 0 5px #51CBEE;
	border: 2px solid #51CBEE;
}

.login-button-panel {
	margin-top: 25px;
}
.login-button-panel2 {
	margin: 20px auto 0;
	width: 55%;
	margin-top: 25px;
}
#tnc_link {
	color: #25A6CB;
}
#tnc_link:hover {
	color: #258FAF;
}
#footer {
	padding: 25px 0 40px;
	text-align: center;
}
div.footer_panel {
	padding: 4px 0 2px;
}
.footer_text {
	padding-left: 20px;
	min-height: 14px;
}
.footer_text {
	font-size: 12px;
}
#footer, .copyright {
	white-space: nowrap;
}
#footer, .copyright {
	font-size: 12px;
}
.copyright {
	font-weight: bold;
}

/* =Grid Responsive
-----------------------------------------------------------------------------*/
/*@media only screen and (max-width: 580px) {*/
@media only screen and (max-width: 620px) {
	html { 
		background: none;
	}
	body {
		font-size: 14px;
		background: none repeat scroll 0 0 #F1EFEA;
	}
	input {
		font-size: 14px !important;
	}
	.login_message0, login_message, .message_panel {
		font-size: 16px;
	}
	div.logo-panel {
	    width: 95%;
	}
	.welcome_title, .welcome_descr {
		line-height: 22px;
	}
	div.login_panel {
	    width: 85%;
	}
	div.input-panel {
		padding: 8px 0;
	}
	.submit_button, .back_button {
		width: 100%;
	}
	#footer, .copyright {
		font-size: 11px;
	}
	.footer_text {
		font-size: 11px;
	}
	div.content_container, div.login-content-container, div.success-content-container {
		opacity: 1;
	}
}
